{% extends "base.html" %}

{% block content %}
  <h1>
    <strong>Task List</strong>
    <a href="{% url 'todo_list:task-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if user.is_authenticated %}
      {% if task_list %}
        <div class="card bg-secondary">
          {% for task in task_list %}
              <div class="card bg-light m-5" >

                <form action="{% url 'todo_list:task-update-state' pk=task.id %}" method="post">

                  {% csrf_token %}

                  {% if not task.is_completed %}
                    <input
                          type="submit"
                          class="btn btn-success link-to-page pt-1 pb-2"
                          value="Complete" />
                  {% else %}
                    <input
                          type="submit"
                          class="btn btn-secondary link-to-page"
                          value="Undo" />
                  {% endif %}
                  <div class="btn-dark p-2">{{ task.created_at }}</div>
                </form>
                <ul class="list-group">
                  <li class="list-group-item">
                    <strong>{{ task.content }}</strong>
                    <div class="card link-to-page">
                      {% if task.is_completed %}
                        <div class="btn-success link-to-page p-2">Completed</div>

                      {% else %}
                        <div class="btn-danger link-to-page p-2">Not Completed</div>
                      {% endif %}
                      {% if task.deadline %}
                         <div class="btn-primary">{{ task.deadline }}</div>
                      {% else %}
                        <div class="btn-secondary m-auto pl-3 pr-3">No deadlines</div>
                      {% endif %}
                    </div>
                  </li>


                  <li class="list-group-item">
                    <span class="text-muted">Tags:</span>
                    {% for tag in task.tags.all %}
                      <a href="{% url 'todo_list:tag-detail' pk=tag.id %}">#{{ tag }}</a>
                    {% endfor %}
                  </li>
                  <div
                      class="card-footer border-0 bg-light p-2 d-flex justify-content-around"
                    >
                      <a
                        class="btn btn-link m-0 text-reset"
                        href="{% url 'todo_list:task-update' pk=task.id %}"
                        role="button"
                        data-ripple-color="primary"
                        >Update</a>
                      <a
                        class="btn btn-link m-0 text-reset"
                        href="{% url 'todo_list:task-delete' pk=task.id %}"
                        role="button"
                        data-ripple-color="primary"
                        >Delete</a>
                    </div>
                </ul>
              </div>
          {% endfor %}
        </div>
  {% else %}
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <div class="mb-md-2 mt-md-4 pb-4">
                <h4>Tasks are not found</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% elif not user.is_authenticated %}
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <div class="mb-md-2 mt-md-4 pb-4">
                <h4>You have to login to see your task list</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endif %}
{% endblock %}