{% extends "base.html" %}

{% block content %}

  <div class="container py-4 h-100" id="blockContent" style="margin-left: -50px">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">

                <div class="mb-md-2 mt-md-2 pb-5 mb-3">
                  <h1 class="mb-5">Delete task?</h1>

                  <form action="" method="post">
                    {% csrf_token %}

                    <input type="submit" value="Yes" class="btn btn-danger">
                    <input type="button" onclick="window.location.href='{% url 'todo_list:index' %}'" value="No, I want to return" class="btn btn-success">
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}